@using UtilidadesDev.Util
@{
    ViewData["Titulo"] = "Geradores";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p class="font-20">Escolha o gerador de sua preferência para facilitar o seu trabalho.</p>

</div>

<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>

<partial name="/Views/Shared/Componentes/_GeradoresDestaque.cshtml" />

<div class="row">
    <div class="col-12">
        <p></p>
    </div>
</div>

<partial name="/Views/Shared/Componentes/Anuncios/_Amazon.cshtml" />

<div class="row">
    <div class="col-12">
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p></p>
    </div>
</div>

<div class="row">
    <p class="font-20">
        O objetivo deste site é oferecer dados aleatórios e fictícios para facilitar o desenvolvimento, testes de software
        e trabalhos acadêmicos. Não nos responsabilizamos pelo uso indevido das informações geradas.
    </p>
    <p></p>
</div>


<partial name="/Views/Shared/Componentes/Anuncios/_Yllix.cshtml" />

<div class="row">
    <div class="col-12">
        <p></p>
    </div>
</div>

