@{
	ViewData["Titulo"] = "Políticas de privacidade";
}

<div>
	<h1 class="display-4">Políticas de privacidade</h1>
</div>
<div class="row">
	<p>Ao continuar o uso deste site é considerado o aceite das nossas politicas de privacidade.</p>
	<p>
		Os responsáveis pelo site Utilidades DEV reservam-se ao direito de alterar as políticas de privacidade a
		qualquer momento sem aviso prévio. Recomendamos que sempre consulte as políticas de privacidade para se manter atualizado.
	</p>
</div>

<h3>Anúncios</h3>
<div class="row">
	<p>
		Utilizamos anúncios em nosso site para mantê-lo ativo, pagando pelos custos de hospedagem e etc.
		As ofertas, produtos e serviços contidos nesses anúncios são de total responsabilidade dos anunciantes
		e não nos responsabilizamos por qualquer situação relacionada a compra de itens e outras ações que você
		venha a executar no site de tais anunciantes.
	</p>
	<p>
		Assim como outros sites, coletamos, armazenamos e utilizamos informações contida nos anúncios.
		Essas informações incluem o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider),
		o dispositivo (celular, computador ou tablet) e o browser (como o Firefox ou o Google Chrome) que você
		utilizou ao visitar o nosso website, o tempo da sua visita e que páginas visitou dentro do nosso domínio.
	</p>
</div>

<h3>Cookies</h3>
<div class="row">
	<p>
		Cookies são utilizados para armazenar informações, como suas preferencias quando visita nosso site.
		Conforme citado acima, apresentamos publicidade de terceiros em nosso site. Algumas destas publicidades
		poderão também utilizar cookies e/ou outras tecnologias quando publicitam no nosso site. As publicidades
		também poderão utilizar as suas informações, como as citadas acima.
	</p>
	<p>
		Esta função é geralmente utilizada para segmentação geográfica (geotargeting) ou apresentar publicidade
		direcionada a um tipo de utilizador. Exemplos: mostrar publicidade de Florianópolis apenas as pessoas de
		Florianópolis; mostrar publicidade de informática a uma pessoa que visitou páginas de lojas de informática.
	</p>
	<p>
		Também podemos utilizar essas informações para ofertar produtos de seu interesse, com base em sua navegação por
		esse site, em redes como Facebook Ads, Instagram e outras.
	</p>
	<p>
		Você pode desabilitar os seus cookies a qualquer momento nas opções do seu navegador ou efetuando
		alterações nas ferramentas de programas Antivírus. No entanto, isso poderá alterar a forma como interage
		com o nosso site, ou outros sites. Isso poderá afetar ou não permitir que faça logins em programas, sites ou
		fóruns da nossa e de outras redes.
	</p>
</div>

<h3>Sites Terceiros</h3>
<div class="row">
	<p>
		A política de privacidade de Utilidades DEV não é aplicada a sites de terceiros, por isso recomendamos que consulte a
		política de privacidade destes sites. Não nos responsabilizamos pela política de privacidade ou conteúdo dos sites terceiros.
	</p>
</div>